{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="home-one home4_style bgc_home4_style bg-home4"
         style="background-image: url('{{ banner.image.url }}');">
  <div class="container">
    <div class="row posr">
      <div class="col-xl-11 col-xxl-10 m-auto">
        <div class="home_content home1_style at_home4">
          <div class="home-text text-center mb30">
            <h2 class="title">
              <span class="aminated-object1">
                <img class="objects" src="images/home/title-bottom-border.svg" alt="">
              </span>
              {{ banner.title|default:"Search Less. Live More." }}
            </h2>
            <p class="para">{{ banner.short_description|default:"We make finding the right car simple" }}</p>
          </div>
        </div> <!-- 🔥 ВОТ ЭТОГО НЕ ХВАТАЛО -->
      </div>
    </div>
  </div>
</section>
  <!-- Features Listings -->
  <section class="feature_listing_home4_style pt0 pt120-md pb90">
    <div class="container">
      <div class="row mb90">
        <div class="col-xl-9 m-auto">
          <div class="row">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="main-title text-center">
            <h2>Discover Our Featured Listings</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="home1_popular_listing home4_style">
            <div class="listing_item_3grid_slider dots_none">
              {% for car in expensive_cars %}
              <div class="item">
                <div class="car-listing home6_style">
                  <div class="thumb">
                    <div class="tag">{% if car.is_hot %}TOP SALE{% else %}FEATURED{% endif %}</div>
                    {% if car.first_photo %}
                    <img src="{{ car.first_photo.url }}" alt="{{ car.title }}">
                    {% else %}
                    <img src="{% static 'images/listing/1.jpg' %}" alt="{{ car.title }}">
                    {% endif %}
                  </div>
                  <div class="details">
                    <div class="wrapper">
                      <h6 class="title"><a href="{% url 'car_detail' car.pk %}">{{ car.brand.name }} {{ car.model_name }}</a></h6>
                    </div>
                    <div class="listing_footer">
                      <h5 class="price text-thm4 float-none float-sm-start">${{ car.discount_price|default:car.price }}</h5>
                      <ul class="mb0 text-start text-sm-end">
                        <li class="list-inline-item"><a href="#"><span class="flaticon-road-perspective me-2"></span>{{ car.engine_volume }}L</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-gas-station me-2"></span>{{ car.get_engine_type_display }}</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-gear me-2"></span>{{ car.get_transmission_type_display }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
              <div class="item"><p>Нет автомобилей для показа.</p></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!-- We Are The Best -->
  <section class="we-are-best">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="main-title text-center">
            <h2>Мы — лучшие</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <div class="iconbox_home4_style mb30-lg">
            <div class="icon one"><span class="flaticon-user-1"></span></div>
            <div class="details">
              <h4 class="title">Высокая безопасность</h4>
              <p>Надёжная работа сервиса и прозрачные условия на каждом этапе выбора автомобиля.</p>
              <a href="page-list-v1.html" class="more_listing home4_style">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="iconbox_home4_style mb30-lg mt60 mt0-lg">
            <div class="icon two"><span class="flaticon-high-five"></span></div>
            <div class="details">
              <h4 class="title">Проверенные специалисты</h4>
              <p>Наши менеджеры помогают быстро подобрать авто и отвечают на все вопросы по покупке.</p>
              <a href="page-list-v1.html" class="more_listing home4_style">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="iconbox_home4_style mb30-lg">
            <div class="icon three"><span class="flaticon-megaphone"></span></div>
            <div class="details">
              <h4 class="title">Выгодные предложения</h4>
              <p>Подбираем оптимальные варианты по цене и комплектации, чтобы вы не переплачивали.</p>
              <a href="page-list-v1.html" class="more_listing home4_style">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
          <div class="iconbox_home4_style mb30-lg mt60 mt0-lg">
            <div class="icon four"><span class="flaticon-headphones"></span></div>
            <div class="details">
              <h4 class="title">Бесплатная поддержка</h4>
              <p>Сопровождаем вас до и после покупки: консультации, помощь и обратная связь без доплат.</p>
              <a href="page-list-v1.html" class="more_listing home4_style">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Popular Listing -->
<section class="popular-listing pt0 pb110">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="main-title text-center">
          <h2>Popular Vehicles</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="home1_popular_listing home4_style">
          <div class="listing_item_car_grid_slider">
            {% for car in popular_vehicles %}
            <div class="item">
              <div class="carlisting-popular-vehicles">

                <div class="details text-center">
                  <div class="wrapper">
                    <h5 class="price text-thm4">
                      ${{ car.discount_price|default:car.price }}
                    </h5>
                    <h6 class="title">
                      <a href="{% url 'car_detail' car.pk %}">{{ car.brand.name }} {{ car.model_name }}</a>
                    </h6>
                    <div class="listign_review">
                      <ul>
                        <li class="list-inline-item">
                          <a href="#">
                            {% if car.is_hot %}TOP SALE{% else %}Popular{% endif %}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="listing_footer">
                    <ul>
                      <li class="list-inline-item">
                        <a href="#">
                          <span class="flaticon-road-perspective me-2"></span>{{ car.engine_volume }}L
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <span class="flaticon-gas-station me-2"></span>{{ car.get_engine_type_display }}
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <span class="flaticon-gear me-2"></span>{{ car.get_transmission_type_display }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="thumb">
                  {% if car.first_photo %}
                  <img class="img-fluid" src="{{ car.first_photo.url }}" alt="{{ car.title }}">
                  {% endif %}
                </div>

              </div>
            </div>
            {% empty %}
            <div class="item">
              <p>Нет популярных автомобилей.</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

  <!-- Swiper Slider Testimonials -->
<!--  <section class="testimonials_home4_layouts">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          &lt;!&ndash; Swiper &ndash;&gt;-->
<!--          <div class="testimonial_swiper_slider_home4_style swiper mySwiper">-->
<!--            <div class="swiper-wrapper">-->
<!--              <div class="swiper-slide">-->
<!--                <div class="testimonial_home4_slider">-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-1">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="thumb text-start">-->
<!--                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-2">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="tst_client text-start pt0-lg">-->
<!--                          <h5 class="title my-1">Albert Cole</h5>-->
<!--                          <p class="para">Designer</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-9">-->
<!--                      <div class="tst_details text-start">-->
<!--                        <p class="para">I believe in lifelong learning and Houzing is a great place to learn from experts. I've learned a lot and recommend it to all my friends.Programs are available in fall, spring, and summer semesters. Many fall and spring programs offer similar shorter programs in the summer, and some may be combined for a full academic year.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="swiper-slide">-->
<!--                <div class="testimonial_home4_slider">-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-1">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="thumb text-start">-->
<!--                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-2">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="tst_client text-start pt0-lg">-->
<!--                          <h5 class="title my-1">Albert Cole</h5>-->
<!--                          <p class="para">Designer</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-9">-->
<!--                      <div class="tst_details text-start">-->
<!--                        <p class="para">I believe in lifelong learning and Houzing is a great place to learn from experts. I've learned a lot and recommend it to all my friends.Programs are available in fall, spring, and summer semesters. Many fall and spring programs offer similar shorter programs in the summer, and some may be combined for a full academic year.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="swiper-slide">-->
<!--                <div class="testimonial_home4_slider">-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-1">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="thumb text-start">-->
<!--                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-2">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="tst_client text-start pt0-lg">-->
<!--                          <h5 class="title my-1">Albert Cole</h5>-->
<!--                          <p class="para">Designer</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-9">-->
<!--                      <div class="tst_details text-start">-->
<!--                        <p class="para">I believe in lifelong learning and Houzing is a great place to learn from experts. I've learned a lot and recommend it to all my friends.Programs are available in fall, spring, and summer semesters. Many fall and spring programs offer similar shorter programs in the summer, and some may be combined for a full academic year.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="swiper-slide">-->
<!--                <div class="testimonial_home4_slider">-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-1">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="thumb text-start">-->
<!--                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-2">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="tst_client text-start pt0-lg">-->
<!--                          <h5 class="title my-1">Albert Cole</h5>-->
<!--                          <p class="para">Designer</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-9">-->
<!--                      <div class="tst_details text-start">-->
<!--                        <p class="para">I believe in lifelong learning and Houzing is a great place to learn from experts. I've learned a lot and recommend it to all my friends.Programs are available in fall, spring, and summer semesters. Many fall and spring programs offer similar shorter programs in the summer, and some may be combined for a full academic year.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="swiper-slide">-->
<!--                <div class="testimonial_home4_slider">-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-1">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="thumb text-start">-->
<!--                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-2">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="tst_client text-start pt0-lg">-->
<!--                          <h5 class="title my-1">Albert Cole</h5>-->
<!--                          <p class="para">Designer</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-9">-->
<!--                      <div class="tst_details text-start">-->
<!--                        <p class="para">I believe in lifelong learning and Houzing is a great place to learn from experts. I've learned a lot and recommend it to all my friends.Programs are available in fall, spring, and summer semesters. Many fall and spring programs offer similar shorter programs in the summer, and some may be combined for a full academic year.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="swiper-slide">-->
<!--                <div class="testimonial_home4_slider">-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-1">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="thumb text-start">-->
<!--                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-2">-->
<!--                      <div class="tst_thumb_content">-->
<!--                        <div class="tst_client text-start pt0-lg">-->
<!--                          <h5 class="title my-1">Albert Cole</h5>-->
<!--                          <p class="para">Designer</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-9">-->
<!--                      <div class="tst_details text-start">-->
<!--                        <p class="para">I believe in lifelong learning and Houzing is a great place to learn from experts. I've learned a lot and recommend it to all my friends.Programs are available in fall, spring, and summer semesters. Many fall and spring programs offer similar shorter programs in the summer, and some may be combined for a full academic year.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="swiper-button-next"></div>-->
<!--            <div class="swiper-button-prev"></div>-->
<!--            <div class="swiper-pagination"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <!-- Our Partners -->
<!--  <section class="our-partner pt100 pb80">-->
<!--    <div class="container">-->
<!--      <div class="partner_divider">-->
<!--        <div class="row">-->
<!--          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">-->
<!--            <div class="partner_item home4_style">-->
<!--              <img src="images/partners/1.png" alt="1.png">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">-->
<!--            <div class="partner_item home4_style">-->
<!--              <img src="images/partners/2.png" alt="2.png">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">-->
<!--            <div class="partner_item home4_style">-->
<!--              <img src="images/partners/3.png" alt="3.png">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">-->
<!--            <div class="partner_item home4_style">-->
<!--              <img src="images/partners/4.png" alt="4.png">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">-->
<!--            <div class="partner_item home4_style">-->
<!--              <img src="images/partners/5.png" alt="5.png">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">-->
<!--            <div class="partner_item home4_style">-->
<!--              <img src="images/partners/6.png" alt="6.png">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <!-- Delivery Divider -->
  <section id="test-drive" class="divider home4_style parallax" data-stellar-background-ratio="0.2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="posr">
            <div class="home1_divider_video_pop">
              <div class="video_popup_icon">
                <a class="video_popup_btn popup-img popup-youtube" href="https://www.youtube.com/watch?v=R7xbhKIiw4Y">
                  <span class="flaticon-play"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xl-5">
          <div class="home1_divider_content">
            <h2 class="title">We Make Finding The Right Car Simple</h2>
            <p class="para">At Voiture what matters to us is making your car search and buying experience as simple as possible, so you can find the right car quickly and get on with making it yours.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}