{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="ru">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="авто, автомобили, автосалон, продажа авто, каталог авто, покупка машины, дилер, объявления">
<meta name="description" content="Автоцентр — каталог автомобилей и выгодных предложений">
<meta name="CreativeLayers" content="ATFN">
<!-- css file -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Title -->
<title>Автоцентр — автомобили и выгодные предложения</title>
<!-- Favicon -->
<link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper ovh">
  <div class="preloader"></div>
  <!-- Sidebar Panel Start -->
  <div class="listing_sidebar">
    <div class="siderbar_left_home pt20">
      <a class="sidebar_switch sidebar_close_btn float-end" href="#">X</a>
      <div class="footer_contact_widget mt100">
        <h3 class="title">Быстрая связь</h3>
        <p>Помогаем подобрать автомобиль, оформить сделку и получить полную консультацию по покупке.</p>
      </div>
      <div class="footer_contact_widget">
        <h5 class="title">КОНТАКТЫ</h5>
        <div class="footer_phone">+1 670 936 46 70</div>
        <p>hello@voiture.com</p>
      </div>
      <div class="footer_about_widget">
        <h5 class="title">ОФИС</h5>
        <p>Россия —<br>ул. Центральная, 15,<br>Москва</p>
      </div>
      <div class="footer_contact_widget">
        <h5 class="title">ЧАСЫ РАБОТЫ</h5>
        <p>Понедельник – Пятница: 09:00 – 21:00<br>Суббота: 09:00 – 19:00<br>Воскресенье: выходной</p>
      </div>
    </div>
  </div>
  <!-- Sidebar Panel End -->

  <!-- Main Header Nav -->
  <header class="header-nav menu_style_home_one home6_style transparent main-menu">
    <!-- Ace Responsive Menu -->
    <nav>
      <div class="container">
        <!-- Menu Toggle btn-->
        <div class="menu-toggle">
          <button type="button" id="menu-btn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Responsive Menu Structure-->
        <ul id="respMenu3" class="ace-responsive-menu menu_list_custom_code wa float-start mt20 mr30" data-menu-style="horizontal">
          <li class="sidebar_panel"><a class="sidebar_switch pt0" href="#"><span></span></a></li>
        </ul>
        <a href="index.html" class="navbar_brand float-start dn-md">
          <img class="logo1 img-fluid" src="images/header-logo3.svg" alt="header-logo.png">
          <img class="logo2 img-fluid" src="images/header-logo2.svg" alt="header-logo2.svg">
        </a>
        <!-- Responsive Menu Structure-->
        <ul id="respMenu" class="ace-responsive-menu menu_list_custom_code wa float-start" data-menu-style="horizontal">
          <li> <a href="#"><span class="title">Главная</span></a>
            <!-- Level Two-->
            <ul>
              <li><a href="index.html">Главная V1</a></li>
              <li><a href="index2.html">Главная V2</a></li>
              <li><a href="index3.html">Главная V3</a></li>
              <li><a href="index4.html">Главная V4</a></li>
              <li><a href="index5.html">Главная V5</a></li>
              <li><a href="index6.html">Главная V6</a></li>
              <li><a href="index7.html">Главная V7</a></li>
            </ul>
          </li>
          <li> <a href="#"><span class="title">Обзор</span></a>
            <!-- Level Two-->
            <ul>
              <li> <a href="#">Пользователь</a>
                <ul>
                  <li><a href="page-dashboard.html">Панель</a></li>
                  <li><a href="page-dashboard-profile.html">Профиль</a></li>
                  <li><a href="page-dashboard-listing.html">Мои объявления</a></li>
                  <li><a href="page-dashboard-favorites.html">Избранное</a></li>
                  <li><a href="page-dashboard-add-listings.html">Добавить объявление</a></li>
                  <li><a href="page-dashboard-messages.html">Сообщения</a></li>
                  <li><a href="page-login.html">Выйти</a></li>
                </ul>
              </li>
              <li><a href="page-user-profile.html">Профиль пользователя</a></li>
            </ul>
          </li>
          <li> <a href="#"><span class="title">Каталог</span></a>
            <ul>
              <li> <a href="#">Виды каталога</a>
                <ul>
                  <li><a href="page-list-v1.html">Каталог V1</a></li>
                  <li><a href="page-list-v2.html">Каталог V2</a></li>
                  <li><a href="page-list-v3.html">Каталог V3</a></li>
                  <li><a href="page-list-v4.html">Каталог V4</a></li>
                  <li><a href="page-list-v5.html">Каталог V5</a></li>
                  <li><a href="page-list-v6.html">Каталог V6</a></li>
                  <li><a href="page-list-v7.html">Каталог V7</a></li>
                </ul>
              </li>
              <li> <a href="#">Карта объявлений</a>
                <ul>
                  <li><a href="page-list-v8.html">Карта V1</a></li>
                  <li><a href="page-list-v9.html">Карта V2</a></li>
                  <li><a href="page-list-v10.html">Карта V3</a></li>
                </ul>
              </li>
              <li> <a href="#">Карточка авто</a>
                <ul>
                  <li><a href="page-car-single-v1.html">Карточка V1</a></li>
                  <li><a href="page-car-single-v2.html">Карточка V2</a></li>
                  <li><a href="page-car-single-v3.html">Карточка V3</a></li>
                  <li><a href="page-car-single-v4.html">Карточка V4</a></li>
                  <li><a href="page-car-single-v5.html">Карточка V5</a></li>
                  <li><a href="page-car-single-v6.html">Карточка V6</a></li>
                </ul>
              </li>
              <li><a href="page-dashboard-add-listings.html">Новое объявление</a></li>
            </ul>
          </li>
          <li> <a href="#"><span class="title">Блог</span></a>
            <ul>
              <li><a href="page-blog-grid.html">Блог — сетка</a></li>
              <li><a href="page-blog-list.html">Блог — список</a></li>
              <li><a href="page-blog-single.html">Статья</a></li>
            </ul>
          </li>
          <li> <a href="#"><span class="title">Магазин</span></a>
            <ul>
              <li><a href="page-shop.html">Магазин</a></li>
              <li><a href="page-shop-cart.html">Корзина</a></li>
              <li><a href="page-shop-checkout.html">Оформление</a></li>
              <li><a href="page-shop-complete-order.html">Завершенный заказ</a></li>
              <li><a href="page-shop-single.html">Карточка товара</a></li>
              <li><a href="page-user-profile.html">Профиль пользователя</a></li>
            </ul>
          </li>
          <li> <a href="#"><span class="title">Страницы</span></a>
            <ul>
              <li><a href="page-about.html">О нас</a></li>
              <li><a href="page-calculator.html">Калькулятор</a></li>
              <li><a href="page-compare.html">Сравнение</a></li>
              <li><a href="page-contact.html">Контакты</a></li>
              <li><a href="page-error.html">Страница 404</a></li>
              <li><a href="page-faq.html">Вопросы и ответы</a></li>
              <li><a href="page-login.html">Вход</a></li>
              <li><a href="page-pricing.html">Тарифы</a></li>
              <li><a href="page-register.html">Регистрация</a></li>
              <li><a href="page-service.html">Сервис</a></li>
              <li><a href="page-terms.html">Условия использования</a></li>
              <li><a href="page-ui-element.html">UI элементы</a></li>
            </ul>
          </li>
        </ul>
        <!-- Responsive Menu Structure-->
        <ul id="respMenu2" class="ace-responsive-menu menu_list_custom_code wa text-end" data-menu-style="horizontal">
          <li class="list_c">
            <a href="#"><span class="flaticon-magnifiying-glass icon vam"></span></a>
          </li>
          <li class="add_listing"><a href="page-dashboard-add-listings.html">+ <span class="dn-lg">Добавить объявление</span></a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#logInModal">Вход</a></li>
          <li><a class="pl0 pr0" href="#">|</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#logInModal">Регистрация</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Modal -->
  <div class="sign_up_modal modal fade" id="logInModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container p60">
          <div class="row">
            <div class="col-lg-12">
              <ul class="sign_up_tab nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Вход</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Регистрация</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content container p0" id="myTabContent">
            <div class="row mt30 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="col-lg-12">
                <div class="login_form">
                  <p>Впервые у нас? <a href="page-register.html">Создайте аккаунт.</a> Вы дилер?</p>
                  <form action="#">
                    <div class="mb-2 mr-sm-2">
                      <label class="form-label">Имя пользователя или e-mail *</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group mb5">
                      <label class="form-label">Пароль *</label>
                      <input type="password" class="form-control">
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="exampleCheck3">
                      <label class="custom-control-label" for="exampleCheck3">Запомнить меня</label>
                      <a class="btn-fpswd float-end" href="#">Забыли пароль?</a>
                    </div>
                    <button type="submit" class="btn btn-log btn-thm mt5">Войти</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="row mt30 tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="col-lg-12">
                <div class="sign_up_form">
                  <p>Already have a profile? <a href="page-login.html">Войти.</a></p>
                  <form action="#">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label">Имя</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label">Фамилия</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-label">E-mail</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group mb20">
                          <label class="form-label">Password</label>
                          <input type="password" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group mb20">
                          <label class="form-label">Подтвердите пароль</label>
                          <input type="password" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-signup btn-thm mb0">Зарегистрироваться</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Header Nav For Mobile -->
  <div id="page" class="stylehome1 h0">
    <div class="mobile-menu">
      <div class="header stylehome1">
        <div class="mobile_menu_bar">
          <a class="menubar" href="#menu"><small>Меню</small><span></span></a>
        </div>
        <div class="mobile_menu_main_logo"><img class="nav_logo_img img-fluid" src="images/header-logo2.svg" alt="images/header-logo2.png"></div>
      </div>
    </div>
    <!-- /.mobile-menu -->
    <nav id="menu" class="stylehome1">
      <ul>
        <li><span>Главная</span>
          <ul>
            <li><a href="index.html">Главная V1</a></li>
            <li><a href="index2.html">Главная V2</a></li>
            <li><a href="index3.html">Главная V3</a></li>
            <li><a href="index4.html">Главная V4</a></li>
            <li><a href="index5.html">Главная V5</a></li>
            <li><a href="index6.html">Главная V6</a></li>
            <li><a href="index7.html">Главная V7</a></li>
          </ul>
        </li>
        <li><span>Обзор</span>
          <ul>
            <li><span>Кабинет пользователя</span>
              <ul>
                <li><a href="page-dashboard.html">Панель</a></li>
                <li><a href="page-dashboard-profile.html">Профиль</a></li>
                <li><a href="page-dashboard-listing.html">Мои объявления</a></li>
                <li><a href="page-dashboard-favorites.html">Избранное</a></li>
                <li><a href="page-dashboard-add-listings.html">Добавить объявление</a></li>
                <li><a href="page-dashboard-messages.html">Сообщения</a></li>
                <li><a href="page-login.html">Вход</a></li>
              </ul>
            </li>
            <li><a href="page-user-profile.html">Профиль пользователя</a></li>
          </ul>
        </li>
        <li><span>Каталог</span>
          <ul>
            <li><span>Виды каталога</span>
              <ul>
                <li><a href="page-list-v1.html">Каталог V1</a></li>
                <li><a href="page-list-v2.html">Каталог V2</a></li>
                <li><a href="page-list-v3.html">Каталог V3</a></li>
                <li><a href="page-list-v4.html">Каталог V4</a></li>
                <li><a href="page-list-v5.html">Каталог V5</a></li>
                <li><a href="page-list-v6.html">Каталог V6</a></li>
                <li><a href="page-list-v7.html">Каталог V7</a></li>
              </ul>
            </li>
            <li><span>Карта объявлений</span>
              <ul>
                <li><a href="page-list-v8.html">Карта V1</a></li>
                <li><a href="page-list-v9.html">Карта V2</a></li>
                <li><a href="page-list-v10.html">Карта V3</a></li>
              </ul>
            </li>
            <li><span>Карточка авто</span>
              <ul>
                <li><a href="page-car-single-v1.html">Карточка V1</a></li>
                <li><a href="page-car-single-v2.html">Карточка V2</a></li>
                <li><a href="page-car-single-v3.html">Карточка V3</a></li>
                <li><a href="page-car-single-v4.html">Карточка V4</a></li>
                <li><a href="page-car-single-v5.html">Карточка V5</a></li>
                <li><a href="page-car-single-v6.html">Карточка V6</a></li>
              </ul>
            </li>
            <li><a href="page-dashboard-add-listings.html">Добавить объявление</a></li>
          </ul>
        </li>
        <li><span>Блог</span>
          <ul>
            <li><a href="page-blog-grid.html">Блог — сетка</a></li>
            <li><a href="page-blog-list.html">Блог — список</a></li>
            <li><a href="page-blog-single.html">Статья</a></li>
          </ul>
        </li>
        <li><span>Магазин</span>
          <ul>
            <li><a href="page-shop.html">Магазин</a></li>
            <li><a href="page-shop-cart.html">Магазин Корзина</a></li>
            <li><a href="page-shop-checkout.html">Магазин Оформление</a></li>
            <li><a href="page-shop-complete-order.html">Заказ завершен</a></li>
            <li><a href="page-shop-single.html">Карточка товара</a></li>
            <li><a href="page-user-profile.html">Профиль пользователя</a></li>
          </ul>
        </li>
        <li><span>Страницы</span>
          <ul>
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-calculator.html">Loan Калькулятор</a></li>
            <li><a href="page-compare.html">Сравнение</a></li>
            <li><a href="page-contact.html">Контакты</a></li>
            <li><a href="page-error.html">Ошибка</a></li>
            <li><a href="page-faq.html">Вопросы и ответы</a></li>
            <li><a href="page-login.html">Вход</a></li>
            <li><a href="page-pricing.html">Тарифы Table</a></li>
            <li><a href="page-register.html">Регистрация</a></li>
            <li><a href="page-service.html">Сервис</a></li>
            <li><a href="page-terms.html">Условия использования</a></li>
            <li><a href="page-ui-element.html">UI элементы</a></li>
          </ul>
        </li>
        <!-- Only for Mobile View -->
        <li class="mm-add-listing">
          <span class="border-none">
            <span class="mmenu-contact-info">
              <span class="phone-num"><i class="flaticon-map"></i> <a href="#">Москва, ул. Центральная, 15</a></span>
              <span class="phone-num"><i class="flaticon-phone-call"></i> <a href="#">1-800-458-56987</a></span>
              <span class="phone-num"><i class="flaticon-clock"></i> <a href="#">Пн - Пт 8:00 - 18:00</a></span>
            </span>
            <span class="social-links">
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-youtube"></span></a>
              <a href="#"><span class="fab fa-pinterest"></span></a>
            </span>
          </span>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Главная Design -->
<section class="home-one home4_style bgc_home4_style">
  <div id="homeHeroCarousel" class="carousel slide carousel-fade banner-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for banner in banners %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}">
        <div class="banner-slide"{% if banner.image %} style="background-image: url('{{ banner.image.url }}');"{% else %} style="background-image: url('{% static 'images/home/2shine_red.jpg' %}');"{% endif %}>
          <div class="banner-overlay"></div>
          <div class="container">
            <div class="row posr">
              <div class="col-xl-11 col-xxl-10 m-auto">
                <div class="home_content home1_style at_home4 banner-content">
                  <div class="home-text text-center mb30">
                    <h2 class="title">
                      <span class="aminated-object1">
                        <img class="objects" src="{% static 'images/why-chose/egg-shape1.svg' %}" alt="Декор заголовка">
                      </span>
                      {{ banner.title }}
                    </h2>
                    <p class="para">{{ banner.short_description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="carousel-item active">
        <div class="banner-slide banner-slide-default bg-home5">
          <div class="banner-overlay"></div>
          <div class="container">
            <div class="row posr">
              <div class="col-xl-11 col-xxl-10 m-auto">
                <div class="home_content home1_style at_home4 banner-content">
                  <div class="home-text text-center mb30">
                    <h2 class="title">
                      <span class="aminated-object1">
                        <img class="objects" src="{% static 'images/why-chose/egg-shape1.svg' %}" alt="Декор заголовка">
                      </span>
                      Выберите автомобиль мечты без лишних хлопот
                    </h2>
                    <p class="para">Добавьте баннеры в админке, и здесь автоматически появится красивая карусель.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if banners|length > 1 %}
    <div class="carousel-indicators banner-indicators">
      {% for banner in banners %}
      <button type="button" data-bs-target="#homeHeroCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" {% if forloop.first %}aria-current="true"{% endif %} aria-label="Баннер {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeHeroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeHeroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
    {% endif %}
  </div>
</section>
  <!-- Features Каталог -->
  <section class="feature_listing_home4_style pt0 pt120-md pb90">
    <div class="container">
      <div class="row mb90">
        <div class="col-xl-9 m-auto">
          <div class="row">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="main-title text-center">
            <h2>Рекомендуемые автомобили</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="home1_popular_listing home4_style">
            <div class="listing_item_3grid_slider dots_none">
              {% for car in expensive_cars %}
              <div class="item">
                <div class="car-listing home6_style">
                  <div class="thumb">
                    <div class="tag">{% if car.is_hot %}ХИТ ПРОДАЖ{% else %}РЕКОМЕНДУЕМ{% endif %}</div>
                    {% if car.first_photo %}
                    <img src="{{ car.first_photo.url }}" alt="{{ car.title }}">
                    {% else %}
                    <img src="{% static 'images/listing/1.jpg' %}" alt="{{ car.title }}">
                    {% endif %}
                  </div>
                  <div class="details">
                    <div class="wrapper">
                      <h6 class="title"><a href="#">{{ car.brand.name }} {{ car.model_name }}</a></h6>
                    </div>
                    <div class="listing_footer">
                      <h5 class="price text-thm4 float-none float-sm-start">${{ car.discount_price|default:car.price }}</h5>
                      <ul class="mb0 text-start text-sm-end">
                        <li class="list-inline-item"><a href="#"><span class="flaticon-road-perspective me-2"></span>{{ car.engine_volume }}L</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-gas-station me-2"></span>{{ car.get_engine_type_display }}</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-gear me-2"></span>{{ car.get_transmission_type_display }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
              <div class="item"><p>Нет автомобилей для показа.</p></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!-- Почему выбирают нас -->
  <section class="we-are-best">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="main-title text-center">
            <h2>Почему выбирают нас</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <div class="iconbox_home4_style mb30-lg">
            <div class="icon one"><span class="flaticon-user-1"></span></div>
            <div class="details">
              <h4 class="title">Безопасная покупка</h4>
              <p>Подбираем выгодные условия покупки и сопровождаем сделку на каждом этапе.</p>
              <a href="page-list-v1.html" class="more_listing home4_style">Подробнее <span class="icon"><span class="fas fa-plus"></span></span></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="iconbox_home4_style mb30-lg mt60 mt0-lg">
            <div class="icon two"><span class="flaticon-high-five"></span></div>
            <div class="details">
              <h4 class="title">Надежные специалисты</h4>
              <p>Подбираем выгодные условия покупки и сопровождаем сделку на каждом этапе.</p>
              <a href="page-list-v1.html" class="more_listing home4_style">Подробнее <span class="icon"><span class="fas fa-plus"></span></span></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="iconbox_home4_style mb30-lg">
            <div class="icon three"><span class="flaticon-megaphone"></span></div>
            <div class="details">
              <h4 class="title">Получите предложение</h4>
              <p>Подбираем выгодные условия покупки и сопровождаем сделку на каждом этапе.</p>
              <a href="page-list-v1.html" class="more_listing home4_style">Подробнее <span class="icon"><span class="fas fa-plus"></span></span></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
          <div class="iconbox_home4_style mb30-lg mt60 mt0-lg">
            <div class="icon four"><span class="flaticon-headphones"></span></div>
            <div class="details">
              <h4 class="title">Бесплатная поддержка</h4>
              <p>Подбираем выгодные условия покупки и сопровождаем сделку на каждом этапе.</p>
              <a href="page-list-v1.html" class="more_listing home4_style">Подробнее <span class="icon"><span class="fas fa-plus"></span></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Популярные автомобили -->
<section class="popular-listing pt0 pb110">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="main-title text-center">
          <h2>Популярные автомобили</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="home1_popular_listing home4_style">
          <div class="listing_item_car_grid_slider">
            {% for car in popular_vehicles %}
            <div class="item">
              <div class="carlisting-popular-vehicles">

                <div class="details text-center">
                  <div class="wrapper">
                    <h5 class="price text-thm4">
                      ${{ car.discount_price|default:car.price }}
                    </h5>
                    <h6 class="title">
                      <a href="#">{{ car.brand.name }} {{ car.model_name }}</a>
                    </h6>
                    <div class="listign_review">
                      <ul>
                        <li class="list-inline-item">
                          <a href="#">
                            {% if car.is_hot %}ХИТ ПРОДАЖ{% else %}Популярно{% endif %}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="listing_footer">
                    <ul>
                      <li class="list-inline-item">
                        <a href="#">
                          <span class="flaticon-road-perspective me-2"></span>{{ car.engine_volume }}L
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <span class="flaticon-gas-station me-2"></span>{{ car.get_engine_type_display }}
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <span class="flaticon-gear me-2"></span>{{ car.get_transmission_type_display }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="thumb">
                  {% if car.first_photo %}
                  <img class="img-fluid" src="{{ car.first_photo.url }}" alt="{{ car.title }}">
                  {% endif %}
                </div>

              </div>
            </div>
            {% empty %}
            <div class="item">
              <p>Нет популярных автомобилей.</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

  <!-- Swiper Slider Testimonials -->
  <section class="testimonials_home4_layouts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Swiper -->
          <div class="testimonial_swiper_slider_home4_style swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial_home4_slider">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="tst_thumb_content">
                        <div class="thumb text-start">
                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="tst_thumb_content">
                        <div class="tst_client text-start pt0-lg">
                          <h5 class="title my-1">Albert Cole</h5>
                          <p class="para">Клиент</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="tst_details text-start">
                        <p class="para">Очень понравился сервис: быстро подобрали автомобиль, подробно объяснили условия и помогли оформить покупку без лишних сложностей.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial_home4_slider">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="tst_thumb_content">
                        <div class="thumb text-start">
                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="tst_thumb_content">
                        <div class="tst_client text-start pt0-lg">
                          <h5 class="title my-1">Albert Cole</h5>
                          <p class="para">Клиент</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="tst_details text-start">
                        <p class="para">Очень понравился сервис: быстро подобрали автомобиль, подробно объяснили условия и помогли оформить покупку без лишних сложностей.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial_home4_slider">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="tst_thumb_content">
                        <div class="thumb text-start">
                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="tst_thumb_content">
                        <div class="tst_client text-start pt0-lg">
                          <h5 class="title my-1">Albert Cole</h5>
                          <p class="para">Клиент</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="tst_details text-start">
                        <p class="para">Очень понравился сервис: быстро подобрали автомобиль, подробно объяснили условия и помогли оформить покупку без лишних сложностей.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial_home4_slider">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="tst_thumb_content">
                        <div class="thumb text-start">
                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="tst_thumb_content">
                        <div class="tst_client text-start pt0-lg">
                          <h5 class="title my-1">Albert Cole</h5>
                          <p class="para">Клиент</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="tst_details text-start">
                        <p class="para">Очень понравился сервис: быстро подобрали автомобиль, подробно объяснили условия и помогли оформить покупку без лишних сложностей.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial_home4_slider">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="tst_thumb_content">
                        <div class="thumb text-start">
                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="tst_thumb_content">
                        <div class="tst_client text-start pt0-lg">
                          <h5 class="title my-1">Albert Cole</h5>
                          <p class="para">Клиент</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="tst_details text-start">
                        <p class="para">Очень понравился сервис: быстро подобрали автомобиль, подробно объяснили условия и помогли оформить покупку без лишних сложностей.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial_home4_slider">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="tst_thumb_content">
                        <div class="thumb text-start">
                          <img class="rounded-circle" src="images/testimonial/1.jpg" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="tst_thumb_content">
                        <div class="tst_client text-start pt0-lg">
                          <h5 class="title my-1">Albert Cole</h5>
                          <p class="para">Клиент</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="tst_details text-start">
                        <p class="para">Очень понравился сервис: быстро подобрали автомобиль, подробно объяснили условия и помогли оформить покупку без лишних сложностей.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Partners -->
  <section class="our-partner pt100 pb80">
    <div class="container">
      <div class="partner_divider">
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">
            <div class="partner_item home4_style">
              <img src="images/partners/1.png" alt="1.png">
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">
            <div class="partner_item home4_style">
              <img src="images/partners/2.png" alt="2.png">
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">
            <div class="partner_item home4_style">
              <img src="images/partners/3.png" alt="3.png">
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">
            <div class="partner_item home4_style">
              <img src="images/partners/4.png" alt="4.png">
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">
            <div class="partner_item home4_style">
              <img src="images/partners/5.png" alt="5.png">
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-4 col-xl-2">
            <div class="partner_item home4_style">
              <img src="images/partners/6.png" alt="6.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Delivery Divider -->
  <section class="divider home4_style parallax" data-stellar-background-ratio="0.2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="posr">
            <div class="home1_divider_video_pop">
              <div class="video_popup_icon">
                <a class="video_popup_btn popup-img popup-youtube" href="https://www.youtube.com/watch?v=R7xbhKIiw4Y">
                  <span class="flaticon-play"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xl-5">
          <div class="home1_divider_content">
            <h2 class="title">Мы делаем поиск автомобиля простым</h2>
            <p class="para">Мы упрощаем поиск и покупку авто: показываем актуальные предложения, помогаем сравнить варианты и быстро выйти на сделку.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Footer -->
  <section class="footer_one home4_style pt50 pb25">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xl-7">
          <div class="footer_about_widget text-start">
            <div class="logo mb40 mb0-sm"><img src="images/header-logo3.svg" alt="header-logo3.png"></div>
          </div>
        </div>
        <div class="col-md-8 col-xl-5">
          <div class="footer_menu_widget text-start text-md-end mt15">
            <ul>
              <li class="list-inline-item"><a href="#">Главная</a></li>
              <li class="list-inline-item"><a href="#">Обзор</a></li>
              <li class="list-inline-item"><a href="#">Каталог</a></li>
              <li class="list-inline-item"><a href="#">Блог</a></li>
              <li class="list-inline-item"><a href="#">Магазин</a></li>
              <li class="list-inline-item"><a href="#">Страницы</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container pt80 pt20-sm pb70 pb0-sm">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <div class="footer_about_widget">
            <h5 class="title">ОФИС</h5>
            <p>Россия —<br>ул. Центральная, 15,<br>Москва</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <div class="footer_contact_widget">
            <h5 class="title">НУЖНА ПОМОЩЬ</h5>
            <div class="footer_phone">+1 670 936 46 70</div>
            <p>hello@voiture.com</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <div class="footer_contact_widget">
            <h5 class="title">ЧАСЫ РАБОТЫ</h5>
            <p>Понедельник – Пятница: 09:00 – 21:00<br>Суббота: 09:00 – 19:00<br>Воскресенье: выходной</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <div class="footer_contact_widget">
            <h5 class="title">ОСТАВАЙТЕСЬ НА СВЯЗИ</h5>
            <form class="footer_mailchimp_form">
              <div class="wrapper">
                <div class="col-auto">
                  <input type="email" class="form-control" placeholder="Введите ваш e-mail...">
                  <button type="submit">ОК</button>
                </div>
              </div>
            </form>
            <p>Получайте свежие предложения и новости.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-8 col-xl-9">
          <div class="copyright-widget mt5 text-start mb20-sm">
            <p>AutoCenter © 2026. Все права защищены.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="footer_social_widget text-start text-md-end">
            <ul class="mb0">
              <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a class="scrollToHome" href="#"><i class="fas fa-arrow-up"></i></a> </div>
<!-- Wrapper End -->
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/jquery.mmenu.all.js' %}"></script>
<script src="{% static 'js/ace-responsive-menu.js' %}"></script>
<script src="{% static 'js/isotop.js' %}"></script>
<script src="{% static 'js/snackbar.min.js' %}"></script>
<script src="{% static 'js/simplebar.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/scrollto.js' %}"></script>
<script src="{% static 'js/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/progressbar.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/timepicker.js' %}"></script>
<!-- Custom script for all pages -->
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>